<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginValidate</servlet-name>
        <servlet-class>edu.vesit.webhotel.servlets.loginValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>edu.vesit.webhotel.dao.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginDAO</servlet-name>
        <servlet-class>edu.vesit.webhotel.dao.loginDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchDetails</servlet-name>
        <servlet-class>edu.vesit.webhotel.servlets.searchDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailsDAO</servlet-name>
        <servlet-class>edu.vesit.webhotel.dao.detailsDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enterDetails</servlet-name>
        <servlet-class>edu.vesit.webhotel.servlets.enterDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServletlala</servlet-name>
        <servlet-class>edu.vesit.webhotel.dao.NewServletlala</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking</servlet-name>
        <servlet-class>edu.vesit.webhotel.bean.Booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enterBooking</servlet-name>
        <servlet-class>edu.vesit.webhotel.servlets.enterBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingsDAO</servlet-name>
        <servlet-class>edu.vesit.webhotel.dao.bookingsDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkBooking</servlet-name>
        <servlet-class>edu.vesit.webhotel.servlets.checkBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelBooking</servlet-name>
        <servlet-class>edu.vesit.webhotel.servlets.cancelBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchRoom</servlet-name>
        <servlet-class>edu.vesit.webhotel.servlets.searchRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getBooking</servlet-name>
        <servlet-class>edu.vesit.webhotel.servlets.getBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffDAO</servlet-name>
        <servlet-class>edu.vesit.webhotel.dao.staffDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStaff</servlet-name>
        <servlet-class>edu.vesit.webhotel.servlets.addStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeStaff</servlet-name>
        <servlet-class>edu.vesit.webhotel.servlets.removeStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkinRoom</servlet-name>
        <servlet-class>edu.vesit.webhotel.servlets.checkinRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelRoom</servlet-name>
        <servlet-class>edu.vesit.webhotel.servlets.cancelRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkoutRoom</servlet-name>
        <servlet-class>edu.vesit.webhotel.servlets.checkoutRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clearRecords</servlet-name>
        <servlet-class>edu.vesit.webhotel.servlets.clearRecords</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clearRoom</servlet-name>
        <servlet-class>edu.vesit.webhotel.servlets.clearRoom</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginValidate</servlet-name>
        <url-pattern>/loginValidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginDAO</servlet-name>
        <url-pattern>/loginDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchDetails</servlet-name>
        <url-pattern>/searchDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailsDAO</servlet-name>
        <url-pattern>/detailsDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enterDetails</servlet-name>
        <url-pattern>/enterDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServletlala</servlet-name>
        <url-pattern>/NewServletlala</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking</servlet-name>
        <url-pattern>/Booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enterBooking</servlet-name>
        <url-pattern>/enterBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingsDAO</servlet-name>
        <url-pattern>/bookingsDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkBooking</servlet-name>
        <url-pattern>/checkBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelBooking</servlet-name>
        <url-pattern>/cancelBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchRoom</servlet-name>
        <url-pattern>/searchRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getBooking</servlet-name>
        <url-pattern>/getBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffDAO</servlet-name>
        <url-pattern>/staffDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStaff</servlet-name>
        <url-pattern>/addStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeStaff</servlet-name>
        <url-pattern>/removeStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkinRoom</servlet-name>
        <url-pattern>/checkinRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelRoom</servlet-name>
        <url-pattern>/cancelRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkoutRoom</servlet-name>
        <url-pattern>/checkoutRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clearRecords</servlet-name>
        <url-pattern>/clearRecords</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clearRoom</servlet-name>
        <url-pattern>/clearRoom</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
